.btn {
  display: block;
  width: 100%;
  padding-top: 18px;
  padding-bottom: 18px;
  text-decoration: none;
  color: #444;
  background-color: #fff;
  font-size: 17px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  line-height: 16px;
  border: 2px solid;
}
