.menu {
  @mixin reset-ul;

  background-color: #63d1bb;

  &__link {
    display: block;
    padding-top: 27.5px;
    padding-bottom: 28.5px;
    padding-left: 30px;
    padding-right:  30px;
    font-size: 19px;
    font-weight: bold;
    line-height: 24px;
    text-decoration: none;
    color: #fff;

    &--interior-goods {
      background-color: #63d1bb;
    }

    &--toys {
      background-color: #56c3b2;
    }
  }
}
